body {
    background-color: rgb(91,24,24)

}
  #banner{
width:100;

h1 {
    color: antiquewhite
}

p {
    color: rgb(249,212,174)
    text-align: center;
    font-size: 16px;
   
    {

   p {
    em strong {
        color:antiquewhite
    }
    ul{
        color:antiquewhite
    }
ul{
    display:inline-block
    vertical-align: top;
    width: 20%;
    margin-rigth: 15%;
}


    .beneficios {
        background: #fffff;

    }
     
    h2{
         text-align: center;
    }

    .imagembeneficios{
        width: 50%;
    }